<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>so_cover_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,261},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,261},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,376},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_packsack.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,261},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_richang.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,146},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,61},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,61},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,61},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_btn_zhujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{113,54}</string>
            </dict>
            <key>so_cover_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_jiaoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_shiwusuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>so_cover_tiejiangpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>so_cover_uilist.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ce67508702df0f5ac0d293c310f3b0$</string>
            <key>textureFileName</key>
            <string>so_cover_uilist.png</string>
        </dict>
    </dict>
</plist>
